.claner-imge img{
  display: grid;
  grid-template-columns: repeat(1,ifr);
  height: 800px;
  width: 100%;
}
.month{
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
.clander{
  border: 4px solid gold;
  margin-bottom: 200px;
}
 
 .clader-title{
   font-size: 28px !important;
   color: #fff;
   border: 5px solid green;
   background: rgb(16, 44, 202) !important;
 }
.clander ul{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap:4em;

}
.clander  li{
  list-style: none;
  background: gray;
  font-size: 3rem;
  height: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.off-day{
  background: red !important;
}